* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px; /* Adjust the width as necessary */
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #5cb85c;
}

.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.menuoptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home,
.aboutus,
.healthyhabits,
.forum,
.upcomingevents,
.currentevents {
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: skyblue;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

/* Specific width for each button */
.home {
  width: 65px;
}

.aboutus {
  width: 90px;
}

.healthyhabits {
  width: 130px;
}

.forum {
  width: 65px;
}

.upcomingevents {
  width: 155px;
}

.currentevents {
  width: 135px;
}

.logo img {
  width: 100px; /* Adjust the width as necessary */
}
